.main__container {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  height: 100vh;
  background-color: var(--soft--color--gray);
}

/* FORMULARIO REGISTER */

.form {
  background-color: rgb(255, 255, 255);
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 3em 3em;
  border-radius: 8px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  text-align: center;
}

.form__title {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.form__text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--main--color--gray);
}

.form__container {
  display: grid;
  gap: 1em;
}

.form__group {
  border: none;
  position: relative;
  color: var(--hard--color--gray);
}

.form__group__input {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.4em 0.3em;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--hard--color--gray);
  font-family: 'Roboto', sans-serif;
}

.form__group__input:focus + .form__group__label,
.form__group__input:not(:placeholder-shown) + .form__group__label {
  transform: translateY(-13px) scale(0.7);
  transform-origin: left top;
  color: var(--soft--color--blue);
}

.form__group__label {
  cursor: pointer;
  position: absolute;
  font-size: 1.4rem;
  top: 0;
  left: 13px;
  transform: translateY(20px);
  transition: transform 0.1s, color 0.3s;
}

.button {
  background-color: var(--main--color--red);
  font-family: 'Roboto', sans-serif;
  color: white;
  cursor: pointer;
  font-weight: 300px;
  font-size: 1.3rem;
  padding: 0.7rem 0;
  border-radius: 10px;
}
.form__button:hover {
  background-color: var(--hard--color--red);
  transition: background-color 0.1s;
  transform: scale(0.99);
}

.form__group__line {
  position: absolute;
  left: 12px;
  width: 97.5%;
  height: 1px;
  background-color: var(--soft--color--blue);
  transform: scale(0);
  transform: left bottom;
}

.form__group__input:focus ~ .form__group__line,
.form__group__input:not(:placeholder-shown) ~ .form__group__line {
  transform: scale(1);
}

form p {
  font-size: 1rem;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: left;
  color: var(--main--color--red);
}
