.modal {
  min-height: 150px;
  background-color: white;
  padding: 2rem 2.5rem;
  max-width:500px ;
  gap: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
 
}
.card__title {
  font-size: 1rem;
  max-width: 100%;
}

.card__button {
  background-color: var(--main--color--red);
  font-family: 'Roboto', sans-serif;
  border: none;
  color: white;
  cursor: pointer;
  width: 20rem;
  font-size: 1.4rem;
  padding: 0.5rem 0;
  border-radius: 10px;
}

.card__button:hover{
  background-color: var(--hard--color--red);
  transition: 0.3s;
}