.navbar__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.8rem;
  margin-right: 2rem;
 
  
}

.navbar__list__item {
  border: 1.3px solid var(--mid--color--red);
  flex: 1;
  padding: 0.1rem ;
  border-radius: 20px;
  cursor: pointer;
}



.navbar__list__item a {
  text-decoration: none;
  color: var(--hard--color--red);
  font-size: 21px;
  padding: 1rem 1rem;
}

.navbar__list__item:hover {
  background-color: var(--mid--color--red);
  transform: scale(1.02);
  transition: background-color 0.5s;
}

/* NAVBAR LOGGED */

.navbar--logged__list{
   list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  margin-right: 2rem;
}

.navbar--logged__list__item{
   flex: 1;
   display: flex;
   justify-content: center;
  padding: 0.2rem ;
  border-radius: 20px;
  cursor: pointer;
  
  
}
.navbar--logged__list__item a {
  text-decoration: none;
  text-align: center;
  color: var(--hard--color--red);
  font-size: 21px;
  padding: 1rem ;
}

.navbar--logged__list__item a:hover{
  color: var(--main--color--red);
  transition: color 0.3s;

}



@media (max-width: 1000px) {

  .navbar__list{
    gap:1rem
  }
  .navbar--logged__list{
    display: none;
  }
  .navbar__list__item {
    max-width: 10rem;
    padding: 0.4rem ;
    text-align: center;
    
  }
  .navbar__list__item a {
    padding: 0.5rem 0.5rem
  }
 
}
@media (max-width: 600px) {

  .navbar__list{
    flex: 1;
    gap:0.8rem;
    justify-content: end;
  }
  .navbar__list__item {
    max-width: 10rem;
    padding: 0.4rem ;
    text-align: center;
    
  }
  .navbar__list__item a {
    padding: .2rem .2rem;
  }
 
}